
{{#each logs as |log|}}
  <!-- {{log book}} -->

    <div class="card-group" style="width: 12%;">
  <div class="card-header card-columns">
    <!-- <strong>{{log.date}}</strong> -->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-primary text-white"><strong>{{log.date}}</strong></li>
    <li class="list-group-item"><strong>Hours Coding: <br></strong>{{log.hours_coding}}</li>
    <li class="list-group-item"><strong>What I Worked On:</strong></li>
    <li class="list-group-item">{{log.what_I_did}}</li>
    <!-- <li class="list-group-item"><strong>Obnoxiously Long ID #: </strong></li>
    <li class="list-group-item">{{log.id}}</li> -->
  </ul>
</div>
{{/each}}

</table>
